<a href="https://colab.research.google.com/github/elyorbek8/my-pandas-journey/blob/main/df_stat.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

#using statistical features

In [1]:
import pandas as pd

In [3]:
cars = pd.read_csv('merc.csv')
cars

,model,year,price,transmission,mileage,fuelType,tax,mpg,engineSize
0,SLK,2005,5200,Automatic,63000,Petrol,325,32.1,1.8
1,S Class,2017,34948,Automatic,27000,Hybrid,20,61.4,2.1
2,SL CLASS,2016,49948,Automatic,6200,Petrol,555,28.0,5.5
3,G Class,2016,61948,Automatic,16000,Petrol,325,30.4,4.0
4,G Class,2016,73948,Automatic,4000,Petrol,325,30.1,4.0
...,...,...,...,...,...,...,...,...,...
13114,C Class,2020,35999,Automatic,500,Diesel,145,55.4,2.0
13115,B Class,2020,24699,Automatic,2500,Diesel,145,55.4,2.0
13116,GLC Class,2019,30999,Automatic,11612,Diesel,145,41.5,2.1
13117,CLS Class,2019,37990,Automatic,2426,Diesel,145,45.6,2.0
13118,S Class,2019,54999,Automatic,2075,Diesel,145,52.3,2.9

In [7]:
cars['model'].unique()

array([' SLK', ' S Class', ' SL CLASS', ' G Class', ' GLE Class',
       ' GLA Class', ' A Class', ' B Class', ' GLC Class', ' C Class',
       ' E Class', ' GL Class', ' CLS Class', ' CLC Class', ' CLA Class',
       ' V Class', ' M Class', ' CL Class', ' GLS Class', ' GLB Class',
       ' X-CLASS', '180', ' CLK', ' R Class', '230', '220', '200'],
      dtype=object)

In [18]:
cars.value_counts('model')

model
 C Class      3747
 A Class      2561
 E Class      1953
 GLC Class     960
 GLA Class     847
 B Class       591
 CL Class      511
 GLE Class     461
 SL CLASS      260
 CLS Class     237
 V Class       207
 S Class       197
 GL Class      121
 SLK            95
 CLA Class      86
 X-CLASS        82
 M Class        79
 GLS Class      74
 GLB Class      19
 G Class        15
 CLK             7
 CLC Class       3
 R Class         2
180              1
200              1
220              1
230              1
Name: count, dtype: int64

In [10]:
cars['model'].value_counts()

model
 C Class      3747
 A Class      2561
 E Class      1953
 GLC Class     960
 GLA Class     847
 B Class       591
 CL Class      511
 GLE Class     461
 SL CLASS      260
 CLS Class     237
 V Class       207
 S Class       197
 GL Class      121
 SLK            95
 CLA Class      86
 X-CLASS        82
 M Class        79
 GLS Class      74
 GLB Class      19
 G Class        15
 CLK             7
 CLC Class       3
 R Class         2
180              1
230              1
220              1
200              1
Name: count, dtype: int64

In [19]:
cars['engineSize'].value_counts()

engineSize
2.1    4018
2.0    3739
1.5    1675
3.0    1355
1.6     843
1.3     716
4.0     197
2.2     124
2.9     120
1.8     113
2.3      73
5.5      44
4.7      24
3.5      19
6.2      13
3.2      13
0.0      12
5.0       6
2.7       5
6.0       2
1.7       2
3.7       2
2.5       1
5.4       1
4.3       1
1.4       1
Name: count, dtype: int64

In [26]:
cars[cars['engineSize'] == 6.2]

,model,year,price,transmission,mileage,fuelType,tax,mpg,engineSize
5,SL CLASS,2011,149948,Automatic,3000,Petrol,570,21.4,6.2
226,C Class,2014,26998,Semi-Auto,24175,Petrol,570,23.5,6.2
614,C Class,2014,28990,Semi-Auto,19562,Petrol,570,23.5,6.2
899,C Class,2014,25885,Semi-Auto,37000,Petrol,570,23.5,6.2
3280,C Class,2013,23000,Semi-Auto,43442,Petrol,580,23.0,6.2
9540,C Class,2013,22995,Semi-Auto,49964,Petrol,570,23.0,6.2
9693,C Class,2013,23990,Automatic,44000,Petrol,570,23.5,6.2
10001,C Class,2013,21999,Automatic,41866,Petrol,570,23.5,6.2
11580,CL Class,2008,18975,Automatic,69000,Petrol,570,19.0,6.2
11923,E Class,2008,14995,Semi-Auto,55000,Petrol,570,19.8,6.2
11997,C Class,2013,22948,Automatic,39000,Petrol,570,23.5,6.2
12770,S Class,2010,26990,Automatic,38000,Petrol,570,19.5,6.2
12786,C Class,2014,21495,Automatic,56444,Petrol,580,23.5,6.2

#Filtring values

In [33]:
cars[(cars['model'] == ' SLK') | (cars['model'] == ' B Class')]

,model,year,price,transmission,mileage,fuelType,tax,mpg,engineSize
0,SLK,2005,5200,Automatic,63000,Petrol,325,32.1,1.8
12,B Class,2019,23750,Automatic,278,Diesel,145,55.4,2.0
15,B Class,2017,15890,Automatic,24841,Diesel,150,68.9,1.5
18,B Class,2017,17513,Automatic,14128,Diesel,150,68.9,2.1
40,SLK,2014,15990,Automatic,43955,Petrol,205,43.5,1.8
...,...,...,...,...,...,...,...,...,...
13033,B Class,2016,14599,Automatic,28156,Diesel,20,68.9,2.1
13073,B Class,2019,19350,Automatic,13674,Petrol,145,45.6,1.3
13108,SLK,2016,17499,Automatic,30128,Diesel,30,70.6,2.1
13111,B Class,2019,19344,Automatic,15257,Petrol,145,45.6,1.3
13115,B Class,2020,24699,Automatic,2500,Diesel,145,55.4,2.0